@model REST_API.Models.Question
@{
    ViewData["Title"] = "QUESTION";
}
<div class="row">
    <h4> C# Programming Skill Test</h4>
    <hr />
    <div>
        <h5> C#- @Html.DisplayFor(model => model.Id) </h5>
        <hr />
        @Html.Raw(Model.QuestionText)
    </div>
</div>
 