 @model REST_API.Models.Question

@{
    ViewData["Title"] = "Update";
}

<h1>Edit</h1>

<h4>Questions</h4>
<hr />
<div class="row">
    <div class="col-lg-10">
        <form asp-action="Update">
            <div class="form-group">
                <label asp-for="ArticleId" class="control-label"></label>
                <span asp-validation-for="ArticleId" class="text-danger"></span>
                @Html.DropDownListFor(m => m.ArticleId, new SelectList(ViewBag.Article, "ArticleId", "Title"))
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                @Html.LabelFor(m => m.QuestionText)
                <br />
                @Html.TextAreaFor(m => m.QuestionText)
                @Html.ValidationMessageFor(m => m.QuestionText, "", new { @class = "error" })
                <br />               
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllQuestions">Back to List</a>
</div>

