
@model REST_API.Models.Result

@{
    ViewData["Title"] = "Result";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .congratulation-wrapper {
            margin-top:100px;
            max-width: 650px;
            margin-inline: auto;
            -webkit-box-shadow: 0 0 20px #686868;
            box-shadow: 0 0 20px #686868;
            padding: 30px 30px;
            background-color:gainsboro;
            border-radius: 10px;
        }

        .congratulation-contents.center-text .congratulation-contents-icon {
            margin-inline: auto;
        }
         

        .congratulation-contents-title {
            font-size: 32px;
            line-height: 36px;
            margin: -6px 0 0;
            margin-bottom: 20px;
            color:blueviolet;
        }

        .congratulation-contents-para {
            font-size: 26px;
            font-weight:bold;
            line-height: 24px;
            margin-top: 15px;
        }

        .btn-wrapper {
            display: block;
        }

        .cmn-btn.btn-bg-1 {
            background: #6a5acd;
            color: linen;
            border: 2px solid transparent;
            border-radius: 5px;
            text-decoration: none;
            padding: 6px;
        }
    </style>
</head>

<body>
    <!-- Congratulations area start -->
    <div class="congratulation-area text-center p-3 mt-5">
        <div class="container">
            <div class="congratulation-wrapper">
                <div class="congratulation-contents center-text">
                     
                    <h4 class="text-primary">****************************</h4>
                    <h4 class="congratulation-contents-title"> Congratulations! </h4>
                    <h4 class="text-primary">****************************</h4class>
                    <p class="congratulation-contents-para"> Your Score: @Model.Number </p>
                    <div class="btn-wrapper mt-4">
                        <a class="cmn-btn btn-bg-1" asp-action="Index" asp-controller="ArticleView"> Go To Next Tutorial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

