<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuizGame</title>
    <link rel="stylesheet" href="~/QuizGame/Views/Shared/StyleSheet.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuizGame.styles.css" asp-append-version="true" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top justify-content-center">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="ArticleView" asp-action="GetArticle">QuizGame</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="GetAllArticle">Tutorial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Question" asp-action="GetAllQuestions">Question</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Answer" asp-action="GetAllAnswers">Answer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Results" asp-action="Index">Result</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="align-content-center  ">
            <ul class="sidebar-nav   text-sm-start">
                <li class="sidebar-brand">
                    <a href="https://localhost:7164/">
                        C# Learning
                    </a>
                </li>
                <li>
                    <a href="https://localhost:7164/ArticleView/GetArticle/1">HELLO WORLD</a>
                </li>
                <li>
                    <a href="https://localhost:7164/ArticleView/GetArticle/2">NAMESPACE </a>
                </li>
                <li>
                    <a href="https://localhost:7164/ArticleView/GetArticle/3">INTERFACE</a>
                </li>
                <li>
                    <a href="https://localhost:7164/ArticleView/GetArticle/5">GENERIC</a>
                </li>
                <li>
                    <a href="https://localhost:7164/ArticleView/GetArticle/8">CLASS</a>
                </li>
                <li>
                    <a href="https://localhost:7164/ArticleView/GetArticle/9">ENCAPSULATION</a>
                </li>
                <li>
                    <a href="https://localhost:7164/ArticleView/GetArticle/10">Ternary Operator ?:</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - QuizGame - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    @* all pages  javaScript link *@

    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-siO7MODOxbkyJt9YBmuUUcRwIqAELqYwypCBOQnnzLs38YnSlPdhpSkHD/bIjWolROJ vkAOP8RSqECqMyKFdWouQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js" integrity="sha512-X┼íNMVxizv5YswhkTUqNfkqJz/MxtYhx/s2lXtWGLcnvJy2JpQIbYn3D3qyCy5XF5s+4EVNFP4AxvKiC8v28dQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    *@ 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="@Url.Content("~/lib/jquery/dist/jquery")"></script>
    <script src="https://cdn.tiny.cloud/1/ry7f1ohvksa09p4spo7t5wlg1a1v2ctiolzwr6wgerv20zx7/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
        tinymce.init({ selector: 'textarea', width: '100%' });
    </script>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
         }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
